.container-fluid {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #ACC18A;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #605B56; 

}

.nav-link {
    color: #605B56; 
}